<div class="card shadow-sm mb-5">
            <div class="card-header bg-dark text-white">
                Ongoing Placement Drives
            </div>
            <div class="card-body table-responsive">

                <table class="table table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>Sr. No</th>
                            <th>Job Title</th>
                            <th>Company</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in ongoing_drives %}

                        <tr>
                            <td class="fw-bold">{{ loop.index }}</td>
                            <td>{{ data.job_title }}</td>
                            <td>{{ data.company.name }}</td>

                            <!-- relationship usages -->
                            <td>{{ data.company.company_name }}</td>

                            <td>
                                <a href="#" class="btn btn-info btn-sm text-white">
                                    view details
                                </a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-primary btn-sm text-white">
                                    mark as completed
                                </a>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>