<div class="card shadow-sm mb-5">
    <div class="card-header bg-dark text-white">
        Registered Companies
    </div>
    <div class="card-body">

        <table class="table table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                {% for data in all_companies %}
                <tr>
                    <td>{{ data.company_name }}</td>

                    <td>
                        {% if data.approval_status.name == 'APPROVED' %}
                        <span class="badge bg-success">Approved</span>
                        {% elif data.approval_status.name == 'REJECTED' %}
                        <span class="badge bg-danger">Rejected</span>
                        {% else %}
                        <span class="badge bg-warning">Pending</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if data.approval_status.name == 'APPROVED' %}
                        <a href="{{ url_for('reject_company', id=data.id) }}"
                            class="btn btn-sm btn-warning me-2">Reject</a>
                        <a href="{{ url_for('blacklist_company', id=data.id) }}"
                            class="btn btn-sm btn-danger">Blacklist</a>

                        {% elif data.approval_status.name == 'PENDING' %}
                        <a href="{{ url_for('approve_company', id=data.id) }}"
                            class="btn btn-sm btn-success me-2">Approve</a>
                        <a href="{{ url_for('reject_company', id=data.id) }}" class="btn btn-sm btn-warning">Reject</a>

                        {% elif data.approval_status.name == 'REJECTED' %}
                        <a href="{{ url_for('approve_company', id=data.id) }}"
                            class="btn btn-sm btn-success me-2">Approve</a>
                        <a href="{{ url_for('blacklist_company', id=data.id) }}"
                            class="btn btn-sm btn-danger">Blacklist</a>

                        {% elif data.approval_status.name == 'BLACKLISTED' %}
                        <a href="{{ url_for('approve_company', id=data.id) }}"
                            class="btn btn-sm btn-success">Approve</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>